# pandas 피봇팅과 그룹별 분석

- 피봇팅
- 스태킹과 언스태킹
- 그룹별 집계, 변형, 필터

In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [4]:
def peak_to_peak_ratio(x):
    return x.max() / x.min()

In [7]:
import pandas as pd
import seaborn as sns

In [8]:
tips = sns.load_dataset("tips")

----------------------------------------

## 그룹함수  및 피봇 테이블 이용 간단한 분석 예제
### 연습문제

#### 식당에서 식사 후 내는 팁(tip)과 관련된 데이터 : tips

- seaborn 패키지 내 tips 데이터셋 사용

    - total_bill: 식사대금

    - tip: 팁

    - sex: 성별

    - smoker: 흡연/금연 여부

    - day: 요일

    - time: 시간

    - size: 인원

In [9]:
tips = sns.load_dataset("tips")
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

##### 식사 대금 대비 팁의 비율이 언제 가장 높아지는가?

- 가공 필드 생성 : 식사대금 대비 팁의 비율
    - tip_pt = 팁 / 식사대금

In [15]:
tips['tip_pt']=tips['tip']/tips['total_bill']
tips

     total_bill   tip     sex smoker   day    time  size    tip_pt
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [16]:
tips.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size    tip_pt
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]>

In [17]:
tips.describe()

       total_bill         tip        size      tip_pt
count  244.000000  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672    0.160803
std      8.902412    1.383638    0.951100    0.061072
min      3.070000    1.000000    1.000000    0.035638
25%     13.347500    2.000000    2.000000    0.129127
50%     17.795000    2.900000    2.000000    0.154770
75%     24.127500    3.562500    3.000000    0.191475
max     50.810000   10.000000    6.000000    0.710345

In [21]:
# 성별 인원수를 계산
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [25]:
# 흡연 유무에 따른 성별 인원
tips['sex'].value_counts()
tips['smoker'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

No     151
Yes     93
Name: smoker, dtype: int64

In [27]:
# 흡연 유무에 따른 성별 인원을 피봇테이블로 구현
tips.pivot("sex", "smoker", "size")

ValueError: Index contains duplicate entries, cannot reshape

In [78]:
# 성별 팁 비율의 평균

sex
Male      0.157651
Female    0.166491
Name: tip_pt, dtype: float64

In [79]:
# 흡연 유무에 따른 팁 비율의 평균

smoker
Yes    0.163196
No     0.159328
Name: tip_pt, dtype: float64

In [77]:
# 성별과 흡연 유무에 따른 팁 비율의 평균

smoker       Yes        No
sex
Male    0.152771  0.160669
Female  0.182150  0.156921

##### 여성 혹은 흡연자의 팁 비율이 조금 높고, 여성 흡연자가 팁을 많이 줌

In [82]:
# 평균 통계량만 확인 했으므로 다른 통계값도 확인

              tip_pt                                                    \
               count      mean       std       min       25%       50%
sex    smoker
Male   Yes      60.0  0.152771  0.090588  0.035638  0.101845  0.141015
       No       97.0  0.160669  0.041849  0.071804  0.131810  0.157604
Female Yes      33.0  0.182150  0.071595  0.056433  0.152439  0.173913
       No       54.0  0.156921  0.036421  0.056797  0.139708  0.149691


                    75%       max
sex    smoker
Male   Yes     0.191697  0.710345
       No      0.186220  0.291990
Female Yes     0.198216  0.416667
       No      0.181630  0.252672

------------------------------------------------